<template>
  <div>
      <h1>Posts</h1>
        <div class="row">
          <div class="col-md-4">
            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Post</router-link>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <panigation :posts="posts" :perPage=5 @pagiFunction="pagination"></panigation>
          </div>
        </div><br />
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in posts" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td><router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" @click="postId = post.id"
                            >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal @modalFunction="deletePost(postId)"
                            title="Xác Nhận Xóa" 
                            body="Bạn có muốn xóa không ?"
                            yes="Xác nhận"
                            func="modalFunction"
                            perPage=5
        ></modal>
  </div>
</template>

<script>
  import Pagination from '../pagination/Pagination'
  import Modal from '../all/Modal'

  export default {
    components: {
      'panigation': Pagination,
      'modal': Modal
    },
    data() {
      return {
        posts: [],
        pagePosts: [],
        postId: '',
        pagi:{}
      }
    },
    methods: {
      indexPost() {
        let uri = 'http://127.0.0.1:8080/api/post/pagination';
        this.axios.post(uri, this.pagi).then(response => {  
          this.posts = response.data.data;
        });
      },
      deletePost(id)
      {
        let uri = `http://127.0.0.1:8080/api/post/delete/${id}`;
        this.axios.delete(uri).then(response => {
          this.posts.splice(this.posts.indexOf(id), 1);
        });
      },
      pagination(data) {
        console.log('Displayposts Index', data);
        this.pagi = data;
        this.indexPost();
      }
    }
  }
</script>
