<template>
  <span>
        <a href="#" v-show="isFavorited == true" @click.prevent="favorite(postId)">
            <i class="fas fa-heart"></i>
        </a>
        <a href="#" v-show="isFavorited == false" @click.prevent="unfavorite(postId)">
            <i class="fas fa-heart-broken"></i>
        </a>
  </span>
</template>

<script>
export default {
    props: {
        postId: Number,
        favorited: Boolean,
    },
    data(){
        return {
            isFavorited: '',
        }
    },

    mounted() {
        this.isFavorited =  this.isFavorite;
        console.log(this.favorited);
    },

    computed: {
        isFavorite(){
            return this.favorited;
        }
    },
    
    methods: {
        favorite(id) {
            this.axios.get(`setfavorite/${id}?token=` + localStorage.getItem('token'))
            .then(response => {
                console.log('set favorite', id)
                this.isFavorited = false;
            });
        },
        unfavorite(id) {
            this.axios.get(`unfavorite/${id}?token=` + localStorage.getItem('token'))
            .then(response => {
                console.log('unfavorited', id)
                this.isFavorited = true;
            });
        },
    }


}
</script>

<style>

</style>