<template>
    <div>
        <p>Page current: {{ page }}</p>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <button class="btn page-link" @click="minusPage" v-if="page >= 2">Pre</button>
                    <button class="btn page-link" 
                            v-for="pageNumber in pages" :key="pageNumber"
                            @click="setPage(pageNumber)">{{ pageNumber }}
                    </button>
                <button class="btn page-link" @click="plusPage" v-if="page < pages">Next</button>
            </ul>
        </nav>
    </div>
</template>

<script>
import Modal from '../all/Modal'

export default {
    components: {
        'modal': Modal
    },
    data() {
      return {
        page: 1,
      }
    },
    props: {
        perPage: {
            type: Number,
            default: 5
        },
        totalpage: {
            type: Number,
        },
        pages: {
            type: Number,
        }
    },
    methods: {
        pagination() {
            let pagi = {
                page : this.page,
                perPage : this.perPage
            }
            return pagi;
        },
        minusPage() {
            this.page = this.page - 1;
            this.$emit('pagiFunction', this.pagination());  
        },
        plusPage() {
            this.page = this.page + 1;
            this.$emit('pagiFunction', this.pagination());  
        },
        setPage(number) {
            this.page = number;
            this.$emit('pagiFunction', this.pagination());
        }
    }
}
</script>

<style>

</style>