<template>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/image" class="nav-link">{{$t("common.image")}}</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/favorite" class="nav-link">{{$t("common.favorite")}}</router-link>
        </li>
        <li v-if="user">
          <router-link to="/dashboard" class="nav-link">{{$t("common.hello")}}, {{ user.name }}</router-link>
        </li>
        <li v-if="user">
          <a class="nav-link" @click="logout">{{$t("login.logout")}}</a>
        </li>
        <li v-else>
          <router-link to="/login" class="nav-link">{{$t("login.title")}}</router-link>
        </li>
        <li class="nav-item" v-for="lang in optionLangs">
          <a class="nav-link" :value="lang.value" @click.prevent="callSetLangActions">{{ lang.text }}</a>
        </li>
      </ul>
    </nav><br />
    <router-view></router-view>
  </div>
</template>

<style>
   
</style>

<script>
  import { mapState } from 'vuex'
  export default{
    data() {
      return {
        user: null,
        token: '',
        optionLangs: [
          {
            text: 'Vietnamese',
            value: 'vi'
          },
          {
            text: 'English',
            value: 'en'
          }
        ],
        language: '',
      }
    },
    created() {
      if(localStorage.getItem('token')){
        this.getUser();
      }
    },
    mounted() {
      this.$store.dispatch('loadPermissions')
    },
    computed: 
      mapState([
        'permissions'
      ]),
    methods: {
      callSetLangActions(event)
      {
        // console.log(this.language)
        this.$store.dispatch('setLang', event.target.getAttribute('value'))
      },
      logout() {
        let Str = localStorage.getItem('token');
        axios.post('auth/logout', null, {
          data: {
            token : Str
          },
        })
        .then(response => {
          if(response.data.status == 'success') {
            localStorage.removeItem('token');
            this.$router.push({ name: 'login'});
          }       
        }); 
      },
      getUser() {
        let AuthStr = 'Bearer ' + localStorage.getItem('token'); 
        axios.get('auth/user', {
          headers: {
              'Authorization': AuthStr
          }, 
        })
        .then(response => {
            this.user = response.data;
          })
      },
    }
  }
</script>