<template>
  <div>
      <h1>Users</h1>
        <div class="row">
          <div class="col-md-4">
            <panigation :perPage="pagi.perPage" :pages="pages" @pagiFunction="pagination"></panigation>
          </div>
        </div><br />
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><router-link :to="{name: 'edit', params: { id: user.id }}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" @click="postId = post.id"
                            >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal @modalFunction="deletePost(postId)"
                            title="Xác Nhận Xóa" 
                            body="Bạn có muốn xóa không ?"
                            yes="Xác nhận"
                            func="modalFunction"
        ></modal>
  </div>
</template>

<script>
  import Pagination from '../pagination/Pagination'
  import Modal from '../all/Modal'

  export default {
    components: {
      'panigation': Pagination,
      'modal': Modal
    },
    data() {
      return {
        users: [],
        postId: '',
        pagi:{
            page: 1,
            perPage: 5
        },
        pages: 0,
        totalpage: 0,
        token: 'abcdef'
      }
    },
    created() {
        this.indexPost();
        this.getPage();
    },
    methods: {
        indexPost() {
            this.axios.post('auth/getuser?token=' + localStorage.getItem('token'), this.pagi).then(response => {  
                this.users = response.data.users;
            });
        },
        deletePost(id)
        {
            let uri = `post/delete/${id}`;
            this.axios.delete(uri).then(response => {
                this.users.splice(this.users.indexOf(id), 1);
            });
        },
        pagination(data) {
            this.pagi = data;
            this.indexPost();
        },
        getPage() {
            this.axios.get('auth/getpage').then(response => {
                this.totalpage = response.data.totalpage;            
                this.pages = Math.ceil(this.totalpage/this.pagi.perPage);    
            });
        }
    }
  }
</script>
