<template>
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4"></div>
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">{{ $t("login.messages.please_sign_in") }}</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" action="" method="post" @submit.prevent="onSubmit">
                    <fieldset>
						<div v-if="err" class="alert alert-danger">
							{{ $t("Error") }}
						</div>
			    	  	<div class="form-group">
			    		    <input class="form-control" v-model="user.email" :placeholder="$t('login.input_text.email')" name="email"  type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" v-model="user.password" :placeholder="$t('login.input_text.password')" name="password"  type="password" value="">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" :value="$t('login.buttons.login')">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	data() {
		return {
			user: {},
			err: ''
		}
	},
	methods: {
		onSubmit() {
        	this.axios.post('/auth/login', this.user).then(response => {
				let data = response.data.status;
				if(data == 'success') {
					localStorage.setItem('token', response.data.token);
					this.$router.push({name: 'home'});
				} else {
					this.err = true
				}
        	});	
		}
	}
}
</script>

<style>
    .vertical-offset-100{
        padding-top:200px;
    }
</style>