<template>
    <div>
        <div class="alert alert-danger" v-if="error && !success">
            <p>Có lỗi đâu đó, đăng ký không thành công.</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>Đăng ký thành công. Bạn có thể <router-link :to="{name:'login'}">sign in.</router-link></p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success">
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.name }">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" v-model="user.name" required>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="user.email" required>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" v-model="user.password" required>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</template>

<script>
export default {
     data(){
        return {
            user: {},
            error: false,
            errors: {},
            success: false
        };
    },
    methods: {
        register(){
            this.axios.post('auth/register?token=' + localStorage.getItem('token'), this.user).then(response => {
                this.$router.push({name: 'user-index'});
                console.log(response);
            });
        }
    }
}
</script>

<style>

</style>