<template>
  <div>
      <h1>{{ $t("common.image") }}</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="image in images" :key="image.id">
                    <td>{{ image.id }}</td>
                    <td><img :src="'/images/' + image.image" width="100px" height="100px" alt=""></td>
                    <td><button class="btn btn-danger" @click="unfavorite(image.id)">{{ $t("common.image") }}</button></td>
                </tr>
            </tbody>
        </table>
      
  </div>
</template>

<script>
  import Pagination from '../pagination/Pagination'
  import Modal from '../all/Modal'

  export default {
    data() {
      return {
        images: [],
      }
    },
    created() {
      this.indexImage();
    },
    methods: {
      indexImage() {
        this.axios.get('getfavorite?token=' + localStorage.getItem('token'))
        .then(response => {
            console.log(response.data)
            this.images = response.data.images
          });
      },
      unfavorite(id) {
            this.axios.get(`unfavorite/${id}?token=` + localStorage.getItem('token'))
            .then(response => {
                console.log('unfavorite')
            });
        },
    }
  }
</script>
