<template>
  <div>
      <h1>Users</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="image in images" :key="image.id">
                    <td>{{ image.id }}</td>
                    <td><img :src="'/images/' + image.image" width="100px" height="100px" alt=""></td>
                    <td><button class="btn btn-danger" @click="deleteImage(image.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>   
  </div>
</template>

<script>
  import Pagination from '../pagination/Pagination'
  import Modal from '../all/Modal'

  export default {
    data() {
      return {
        images: [],
      }
    },
    created() {
      this.indexImage();
    },
    methods: {
      indexImage() {
        this.axios.get('/image')
        .then(response => {
            this.images = response.data.images
          });
      },
      deleteImage(id) {
        this.axios.delete(`/image/${id}`+ '?token=' + localStorage.getItem('token'))
        .then(response => {
          console.log('deleted');
        })
      },
    }
  }
</script>
