<template>
    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >{{ no }}</button>
                    <button type="button" class="btn btn-primary" @click="confirm" data-dismiss="modal">{{ yes }}</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    props: {
        title: {
            type: String,
            default: 'Title Default'
        },
        body: {
            type: String,
            default: 'Body Default'
        },
        no: {
            type: String,
            default: 'Không'
        },
        yes: {
            type: String,
            default: 'Có'
        },
        func: {
            type: String,
            default: ''
        } 
    },
    methods: {
        confirm() {
            this.$emit(this.func);
        }
    }
}
</script>

<style>

</style>