<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ $t("common.image") }}</div>
                    <div class="card-body">
                        <div v-if="success != ''" class="alert alert-success" role="alert">
                          {{success}}
                        </div>
                        <form @submit="uploadFile" enctype="multipart/form-data">
                        <strong>Image:</strong>
                        <input type="file" class="form-control" @change="onImageChange">
                        <br>
                        <button class="btn btn-success" >Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                success: '',
                attachments:[],
                form: new FormData
            };
        },
        methods: {
            onImageChange(e){
                let selectedFiles=e.target.files;
                if(!selectedFiles.length){
                    return false;
                }
                for(let i=0;i<selectedFiles.length;i++){
                    this.attachments.push(selectedFiles[i]);
                }
                console.log(this.attachments);
            },
            uploadFile(e){
              let currentObj = this;
              e.preventDefault();
              for(let i=0; i<this.attachments.length;i++){
                  this.form.append('pics[]',this.attachments[i]);
              }
              const config = { headers: { 'Content-Type': 'multipart/form-data' } };
              axios.post('image',this.form,config).then(function (response) {
                console.log(response.data.success)
                currentObj.success = response.data.success;
              })
            }
        }
    }
</script>