<template>
    <div class="row">
        <div v-for="image in images" :key="image.id" class="col-md-3">
            <img :src="'/images/' + image.image" width="300px" height="300px">
            <p>{{check(image.id)}}</p>
            <!-- <button v-if="check(image.id)" class="btn btn-success" @click="favorite(image.id)"><i class="fas fa-heart"></i></button> -->
            <!-- <button v-else class="btn btn-success" @click="unfavorite(image.id)"><i class="fas fa-heart-broken"></i></button> -->
            <favorite :postId="image.id" :favorited="check(image.id)"></favorite>
        </div>
    </div>
</template>

<script>
import Favorite from '../favorite/Favorite'
export default {
    components: {
        'favorite' : Favorite,
    },
    data() {
        return {
            images: [],
            arrFavorite: [], 
        }
    },
    created() {
        this.listImage();
        this.listFavorite();
        console.log(localStorage.getItem('token'));
    },
    methods: {
        listImage() {
            this.axios.get('image').then(response => {  
                this.images = response.data.images;
            });
        },
        listFavorite() {
            this.axios.get('getfavorite?token=' + localStorage.getItem('token'))
            .then(response => {
            console.log('arr', response.data.arrImageId)
                this.arrFavorite = response.data.arrImageId
            });
        },
        check(id) {
            for(var i = 0; i < this.arrFavorite.length; i++) {
                if(id == this.arrFavorite[i].image_id) {
                    return false;
                }
            }
            return true;
        }
    }
}
</script>

<style>

</style>