<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{__('Upload  success')}}</div>
                    <div class="card-body">
                        <div v-if="success != ''" class="alert alert-success" role="alert">
                          {{success}}
                        </div>
                        <form @submit="formSubmit" enctype="multipart/form-data">
                        <!-- <strong>Name:</strong>
                        <input type="text" class="form-control" v-model="product.name"> -->
                        <strong>Image:</strong>
                        <input type="file" class="form-control" v-on:change="onImageChange">
                        <br>
                        <button class="btn btn-success">Submitsadsa</button>
                        <button class="btn btn-success">q</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                product:{},
                name: '',
                image: '',
                success: ''
            };
        },
        methods: {
            onImageChange(e){
                this.image = e.target.files[0];
            },
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                let formData = new FormData();
                formData.append('image', this.image);
                axios.post('/image', formData, config)
                .then(function (response) {
                    currentObj.success = response.data.success;
                    this.$router.push({name: 'list-image'})
                })
                .catch(function (error) {
                    currentObj.output = error;
                });

            }
        }
    }
</script>